
body{
    max-width: 120rem;
}


.container{
  
    
    width: 60rem;
    height: 30rem;
    max-width: 120rem !important;
}

.carousel-item img{
    width: 100%;
}

.presentacion{
    height: 30rem !important;
}
.presentacion img{
    width: 100%;
}